@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

header {
    padding-top: 5%;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

nav ul {
    list-style: none;
}

li {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
}

a {
    text-decoration: none;
    vertical-align: center;
}

nav ul a,
nav ul a:visited {
    color: black
}

nav ul a:hover:not(#logo) {
    border-bottom: 3px solid #fdc300;
}

nav ul li a:not(#logo) {
    display: none;
}

#icon-menu {
    position: absolute;
    right: 5%;
    top: 5%;
}

.silk {
    font-family: 'Silkscreen', cursive;
}

/*Cuerpo*/
#contenedor {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0px auto;
}

/*Cuerpo*/
img {
    max-width: 100%;
}

.button {
    background-color: #fdc300;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
    margin: 20px 0;
}

.separador {
    width: 100%;
    clear: both;
}

hr {
    border-color: #fdc300;
    width: 50px;
    margin: 20px auto 20px auto;
}

footer {
    height: 250px;
    background-image: url(../img/logo-pie.png);
    background-size: cover;
    background-position-x: right;
}

.data {
    display: inline-block;
    padding: 5px 5px 10px 5px;
    vertical-align: top;
    text-align: center;
    margin-bottom: 40px;
}

h3 {
    margin: 15px 0px;
}

.sombra {
    box-shadow: 0px 10px 19px -5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 10px 19px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 19px -5px rgba(0, 0, 0, 0.75);
}

/*TABLET*/
@media screen and (min-width: 768px) {
    body {
        font-size: 1.2em;
    }
    #productos-tienda{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .data{
        width:30%;
    }
}

/*DESKTOP*/
@media screen and (min-width: 1024px) {
    #contenedor {
        width: 100%;
    }
    .grid {
        width: 100%;
        display: grid;
        grid-area: productos;
        grid-template-areas:
            "Izq Der"
        ;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .Izq {
        grid-area: Izq;
    }
    .Der {
        grid-area: Der;
    }
    .separador {
        display: none;
    }

    #productos .grid:first-child .Izq,
    #productos .grid:last-child .Der {
        padding: 50px;
    }
    #productos .grid:first-child .Der {
        display: flex;
    }
    nav ul li a:not(#logo) {
        display: inline;
    }
    #icon-menu {
        display: none;
    }
    header {
        padding-top: 2%;
    }
    ul>li>a>img {
        margin-right: 30px;
    }
    footer {
        height: 500px;
        background-position-y: bottom;
    }
    .data{
        width:23%;
    }
}